.list {
  list-style: none;
  padding: 0;
  margin: 16px;
  display: flex;
  gap: 16px;
}

.activeItem {
  background-color: #ccc;
}

.dark.restaurantButton {
  background-color: #5c5959;
  color: #ccc;
}

.dark.activeItem {
  background-color: #aaa;
  color: #fff;
}
